.chat
  .header
    .header__group
      %h2.header__group__name= @group.name
      %ul.header__group__memberlist
        Member :
        - @group.users.each do |user|
          = user.name
          %li.header__group__memberlist__mamber= user.name
    = link_to edit_group_path(@group.id), class: "editbutton" do
      edit
  .chat__messagefield
    = render @messages

  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'SEND', class: 'send'