.sidebar
  .sidebar__leftheader
    .sidebar__leftheader__list
      .sidebar__leftheader__username
        = current_user.name
      .sidebar__leftheader__iconlist
        .sidebar__leftheader__icon
          = link_to new_group_path, class: "Contents__btn " do
            = icon('fas', 'edit')
        .sidebar__leftheader__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .sidebar__grouplist
    - current_user.groups.each do |group|
      .sidebar__group
        = link_to group_messages_path(group), class: "groupcolor" do
          .sidebar__group__name
            = group.name
          .sidebar__group__message
            = group.show_last_message
